/* STYLING */

.main_bod {
  width: 100%;
  display: flex;
  justify-content: center;
  background: url('./Assets/background.jpg');
}
/* .nav_bar{
  width:100%;
  height:100px;
  background:rgb(26, 30, 41);
} */

.wrapper {
  width: 70%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.514);
  margin-top: 50px;
  margin-bottom: 90px;
}

.title {
  font-size: 25px;
  color: whitesmoke;
  font-family: "patua one";
  padding: 5px;
}

.sports_container {
  width: 100%;
  height: 750px;
  background: rgba(255, 255, 255, 0.651);
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  font-family: "permanent marker";
}

.message {
  font-family: "press start 2p";
  font-size: 25px;
}

.individual_sport {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid black;
  background: #eaf0ce;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 10px;
}

.individual_sport:active {
  animation: fadeOut;
  animation-duration: 0.5s;
  transform: rotate(-15deg);
  transition-timing-function: ease-out;
}

.reset_btn {
  width: 500px;
  height: 50px;
  font-size: 25px;
  font-family: "patua one";
  background: #eaf0ce;
  border-radius: 2px;
  border: 1px solid gray;
}

/* .footer{
  width:100%;
  height:150px;
  background:rgb(26, 30, 41);
} */

.small_section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(26, 30, 41);
}

/*  ANIMATION  */

@keyframes fadeOut {
  from {
    font-size: 40px;
  }
  to {
    background: url("./Assets/Cross_Out_.png");
    font-size: 10px;
  }
}

/*  MEDIA QUERy */

@media screen and (max-width: 699px) and (min-width: 50px) {
  .wrapper {
    height: 800px;
    width: 100%;
  }
  .title {
    font-size: 20px;
  }

  .sports_container {
    width: 90%;
    height: 500px;
  }
  .message {
    font-size: 20px;
  }
  .individual_sport {
    width: 150px;
    height: 150px;
    font-size: 20px;
    margin: 10px;
  }
  .reset_btn {
    width: 200px;
    height: 50px;
  }
}
